@import url(https://fonts.googleapis.com/css2?family=poppins);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul {
    list-style: none;
}


.active{
    color: rgb(252, 3, 107);
    text-decoration: underline;
    font-weight: bold;
}


body , html {
    overflow-x: hidden ;
}

/* styling the navbar */

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}

.nav-links {
   display: flex;
   align-items: center; 
}

.nav-links li {
    margin: 0 30px;

}

header {
    width: 100vw;
    height: 100vh;
    background-image: url("./img/background.jpg");
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.header-content {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.header-content h2 {
    font-size: 4vmin;
}

.line {
    width: 150px;
    height: 4px;
    background: rgb(252, 3, 107);
    margin: 10px auto;
    border-radius: 5px;

}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ctn {
    padding: 8px 15px;
    background: rgb(252, 3, 107);
    border-radius: 30px;
    color: whitesmoke;
    text-align: center;
}



/*Events*/

.events .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.events .col {
    flex: 1 1 21%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.events img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 15px;
}

h4 {
    font-size: 3vmin;
    color: rgb(72, 72, 114);
    margin: 20px auto;
}

p {
    color: rgb(124, 124, 124);
    padding: 0 20px;
    flex-grow: 1; 
}

.events .ctn {
    margin-top: 30px;
    padding: 8px 15px;
    background: rgb(252, 3, 107);
    border-radius: 30px;
    color: whitesmoke;
    text-align: center;
    align-self: flex-end; 
}


.explore {
    width: 100%;
    height: 100vh;
    background-image: url("./img/bgp-1.avif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

}


.explore-content  {
    width: 60%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.explore-content h1 {
    font-size: 7vmin;
}

.explore-content .line {
    margin-bottom: 50px;

}

.explore-content p {
    color: rgb(221, 221, 221);
}
 

.explore-content .ctn {
    margin-top: 40px;

}

.tours {
    margin-top: 50px;
}

.tour-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tour {
    display: flex;
    flex: 1 1 calc(50% - 20px);
    margin: 10px;
}

.tour img {
    max-width: 200px;
    margin-right: 20px;
}

.tour-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tour-info h4 {
    font-size: 3vmin;
    color: rgb(72, 72, 114);
    margin-bottom: 10px;
}

.tour-info p {
    color: rgb(124, 124, 124);
    margin-bottom: 20px;
}

.tour-info .ctn {
    padding: 8px 15px;
    background: rgb(252, 3, 107);
    border-radius: 30px;
    color: whitesmoke;
    text-align: center;
}


.footer {
    
    width: 100%;
    min-height: 88px;
    padding: 20px 80px;
    margin: 0;
    background: rgb(72, 72, 114);
    text-align: center;
}

.footer p {
    color: whitesmoke;
    margin: 20px auto;
    padding: 20px auto;
}

/*Animations*/

img {
    transform: transform 0.3s ease;
}

img:hover {
    transform: scale(1.1);
}

.ctn:hover {
     background: whitesmoke;
     color: rgb(252, 3, 107);
     box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

li:hover {
    color: rgb(252, 3, 107);
    cursor: pointer;
}
